In [9]:

import pandas as pd
df = pd.read_csv('shootings.csv')

In [5]:
df = pd.read_csv('usa-2011-agriculture.csv')

In [10]:
df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects

In [7]:
df.columns

Index(['Unnamed: 0', 'code', 'state', 'category', 'total exports', 'beef',
       'pork', 'poultry', 'dairy', 'fruits fresh', 'fruits proc',
       'total fruits', 'veggies fresh', 'veggies proc', 'total veggies',
       'corn', 'wheat', 'cotton'],
      dtype='object')

In [8]:
df.describe()

,Unnamed: 0,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton
count,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000,50.00000,50.000000,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000,50.00000
mean,24.50000,2728.889000,108.394000,122.282000,112.700000,95.725200,90.05000,191.736000,281.79000,44.428000,72.102000,116.523800,273.042000,222.824000,169.32500
std,14.57738,3144.837608,193.762904,303.492907,162.878644,168.016886,402.16488,856.334256,1258.49891,116.513625,189.088833,305.615222,556.824919,362.291291,402.92782
min,0.00000,13.310000,0.100000,0.000000,0.000000,0.190000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,12.25000,465.142500,13.400000,0.525000,2.950000,6.980000,2.12500,4.550000,6.67000,4.325000,6.950000,11.232500,5.875000,8.500000,0.00000
50%,24.50000,1822.950000,41.050000,16.800000,33.550000,32.165000,4.80000,10.300000,15.11000,12.500000,20.350000,32.910000,37.200000,78.100000,0.00000
75%,36.75000,3768.665000,106.725000,84.975000,162.425000,101.535000,25.30000,53.925000,79.24000,45.700000,74.175000,119.845000,182.175000,248.725000,102.46500
max,49.00000,16472.880000,961.000000,1895.600000,630.400000,929.950000,2791.80000,5944.600000,8736.40000,803.200000,1303.500000,2106.790000,2529.800000,1664.500000,2308.76000

In [18]:
df['race'].unique()

array(['Asian', 'White', 'Hispanic', 'Black', 'Other', 'Native'],
      dtype=object)

In [19]:
df['date'].unique()

array(['2015-01-02', '2015-01-03', '2015-01-04', ..., '2020-06-12',
       '2020-06-13', '2020-06-15'], dtype=object)